<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.todo.persistance.TodoDao">

	<select id="selectAll" resultType="TodoVO">
		select * from tbl_todoList where comp = false order by date and time desc
	</select>

	<select id="findById" resultType="TodoVO">
		select * from tbl_todoList where seq=#{seq}
	</select>

	<select id="selectComp" resultType="TodoVO">
		select * from tbl_todoList where comp = true order by date and time desc
	</select>

	<insert id="insert" parameterType="TodoVO">
		insert into tbl_todoList(
		seq,
		username,
		date,
		time,
		todo,
		comp
		) values (
		#{seq},
		#{username},
		#{date},
		#{time},
		#{todo},
		#{comp}
		)
	</insert>

	<select id="create_todo_table">
		CREATE TABLE IF NOT EXISTS tbl_todoList(
		seq bigint auto_increment PRIMARY KEY,
		username varchar(30),
		date VARCHAR(20) NOT NULL,
		time VARCHAR(30),
		todo VARCHAR(125),
		comp boolean default false
		)
	</select>

	<update id="update" parameterType="TodoVO">
      update tbl_todoList set
         username = #{username},
         date = #{date},
         time = #{time},
         todo = #{todo},
         comp = #{comp}
      where seq = #{seq}
   </update>
   
	<delete id="delete"></delete>

</mapper> 